:root {
  --dark-desat-blue: hsl(238, 29%, 16%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --darker-gray-blue: hsl(237, 12%, 33%);
  --light-gray-blue: hsl(240, 5%, 91%);
  --light-blue: hsl(240, 73%, 65%);
  --light-red: hsl(14, 88%, 65%);
  --light-violet: hsl(273, 75%, 66%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Kumbh Sans', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  color: var(--darker-gray-blue);
  display: grid;
  grid-template-rows: 1fr auto;
  /* background-image: url(../assets/images/bg-pattern-mobile.svg); */
  /* background-repeat: no-repeat; */
  background-image: linear-gradient(var(--light-violet), var(--light-blue));

}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
  width: 100%;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 3rem;
  margin-top: 35%;
}

@media (min-width: 900px){
  .container {
    max-width: 900px;
    flex-direction: row;
  }
}

/* .col {
  flex: 1;
} */

.col__left {
  position: relative;
  background-image: url('../assets/images/illustration-woman-online-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 250px;
  bottom: 145px;
}

.col__left-bground {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  background-image: url('../assets/images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;

}

.col__right {
  margin-top: -75px;
}

.faq-card__header {
  font-size: 2.5rem;
  text-align: center;
  color: var(--dark-desat-blue);
  margin-bottom: 2.75rem;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.faq-arrow__wrapper {
  order: 1;
  flex-basis: 10%;
  display: flex;
  justify-content: end;
}

.faq-arrow {
  width: 15px;
  height: 10px;
}

.faq {
  flex-basis: 90%;
}

.faq--answer {
  color: var(--dark-gray-blue);
  font-size: .925rem;
  line-height: 1.5;
  margin-top: .75rem;
  display: none;
}

hr.divider {
  margin: 1.75rem 0;
  border: 1px solid var(--light-gray-blue);
}

.rotate {
  transform: rotate(180deg);
}

.active {
  color: var(--dark-desat-blue);
  font-weight: 700;
}

.show {
  display: block
}

.fm-attribution-row {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.fm-attribution {
  font-size: .75rem;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}